<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    <h1></h1>
    <p>Welcome to </p>
    <div style="position:absolute;top:53px;right:50px"><a class="btn btn-primary">登录</a>
    </div>
    <div>
      <table class="table table-hover table-bordered">
        <tr>
          <td>a</td>
          <td>1</td>
          <td>10</td>
        </tr>
        <tr>
          <td>b</td>
          <td>0</td>
          <td>10</td>
        </tr>
        <tr>
          <td>c</td>
          <td>0</td>
          <td>10</td>
        </tr>
      </table>
    </div>
    <script type="text/javascript">
      $(function () {
        console.log(123)
      })
    </script>
  </body>
</html>